<ion-view view-title="Contact Us">
  <ion-content>
    <div class="card">
        <div class="item item-divider">
           Location Information
        </div>
        <div class="item item-body tem-text-wrap">
        	<h3>Our Address</h3>
            121, Clear Water Bay Road<br/>
			Clear Water Bay, Kowloon<br/>
			HONG KONG<br/>
			<ui style="list-style-type: none;">
			<li class="ion-android-call">: +852 1234 5678</li>
			<li class="ion-printer">: +852 8765 4321</li>
			<li class="ion-android-mail">: confusion@food.net</li>
        </div>
    </div>
  </ion-content>
   <div class="tabs-striped tabs-color-royal">
	  <div class="tabs">
	  	<div class="button-bar">
		  <button class="button icon-left ion-android-call button-positive">Call</button>
		  <a class="button icon-left ion-social-skype button-calm">Skype</a>
		  <a class="button  icon-left ion-android-mail button-balanced">Email</a>
		</div>
	  </div>
   <div class="tabs-striped tabs-color-royal">
</ion-view>